
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0%;
}

table {
    width: 100%;
    height: 70vh;
    background-color: rgb(30, 30, 30);
    color: white;
}

td {
    width: 25%;
    text-align: center;
    font-size: 24px;
    background-color: #141414;
}
td:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
    box-shadow: inset 0 0 0.5rem rgb(100, 4, 255);
}

#resultarea {
    height: 30vh;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px;
    box-sizing: border-box;
}

#result {
    background-color: rgb(100, 4, 255);
}
#result:hover {
    background-color: rgb(135, 60, 255);
}

.highlight {
    background-color: rgb(25, 25, 25);
    color: white;
    font-size: 32px;
}

.highlightdelc {
    background-color: rgb(25, 25, 25);
    color: rgb(100, 4, 255);
    font-size: 32px;
}
